body {
  margin: 40px;
  font-family: monospace;
  background-color: #707070;
}

.wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 1fr;
  background-color: #707070;
  color: white;
  column-gap: 1em;
  row-gap: 1em;
}

.wrapper > div {
  /*background: #eee;*/
  padding: 0.1em;
}

.wrapper > div:nth-child(odd) {
  /*background: #ddd;*/
}

.links {
  display: grid;
  grid-column-start: 5;
  grid-column-end: 6;
  justify-items: right;
  grid-template-columns: repeat(4, 0.5fr);
}

.aboutme {
  display: grid;
  grid-template-rows: rep(2, 0.5fr);
  justify-content: left;
  grid-column-start: 1;
  grid-column-end: 3;
}

.name {
  font-size: xx-large;
  color: orange;
}

.aboutme disc {
  /*font-size: smaller;
  justify-content: center;
  justify-items: center;
  justify-items: center;
  align-items: center;*/
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 3px;
  justify-items: center;
  align-items: center;
  font-size: x-large;
}

.aboutmeDescription {
  font-size: larger;
  align-items: center;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
}

.profilePicture {
  display: grid;
  justify-items: center;
  grid-template-columns: minmax(200px, auto);
  grid-column-start: 1;
  grid-column-end: 2;
}

.aboutmeDescription {
  display: grid;
  justify-content: left;
  grid-column-start: 2;
  grid-column-end: 6;
}

.lineheader {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-column-start: 1;
  grid-column-end: 6;
  grid-template-rows: 0.5fr;
  font-size: x-large;
  color: orange;
}

hr {
  display: block;
  width: 100%;
  margin-top: 0.5em;
}

.gitProject {
  display: grid;
  justify-items: center;
}

.gitProjectName {
  display: grid;
  font-size: large;
}

.gitProjectAddress {
  font-size: medium;
  justify-items: center;
  color: #3ec9c1;
}

.gitDiscription {
  display: grid;
  grid-column-start: 2;
  grid-column-end: 6;
}

.publist {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 6;
}

a:link {
  color: #82d305;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #82d305;
  background-color: transparent;
  text-decoration: none;
}
